@page "/wasm-client-profile"
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims

@rendermode InteractiveWebAssembly

@attribute [Authorize]

<h3>Wasm Client Profile</h3>

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value</h1>
    </Authorized>
</AuthorizeView>
@code {

}
